@import './../../styles/mixins.module';
@import './../../styles/vars.module';

.modalBlock {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0px 25px 50px rgba(100, 116, 139, 0.25);
  color: #fff;

  .top {
    padding: 23.5px 37px 23.5px 24px;
    background: $MainColor;
  }

  .title {
    margin: 0;
    font-size: 18px;
    color: white;
    position: relative;

    .cancelBtn {
      border-style: none;
      background-color: inherit;
      color: red;
      font-weight: 500;
      font-size: 20px;
      position: absolute;
      top: 56%;
      left: 100%;
      transform: translateY(-50%);
    }
  }

  .applyButton{
    background-color: $MainColor;
  }
  .applyButton:hover{
    background-color: $btnHover;
  }

  .content {
    @include flexEdit(center,center,column,5px);
    .imgWrap{
      text-align: center;
      h6{
        margin: 10px 0;

      }
      img{
        width: 300px;
        height: 300px;
        object-fit: contain;
        border-radius: 50%;
      }

      .changeImgInput{
        margin: 20px 0 40px;
      }
    }
    .btnWrap{
      margin-bottom: 20px;
    }
  }
}
