@import './../../styles/mixins.module';
@import './../../styles/vars.module';
.preloader{
  height: 100vh;
  @include flexEdit(center,center);

  img {
    transform: translateY(-100px);
    width: 100px;
    height: 100px;
  }
}