.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #002DE3;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  .logoText{
    margin: 10px;
  }
}

.headerLogin {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  .loginBtn{
    color:white;
    width: auto;
    font-size: 24px;
    border: 2px solid white;
  }
}

.headerLogin a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}