@import './../../styles/vars.module';
.sidebar {
  width: 130px;
  padding: 10px;
  grid-area: sidebar;
  background-color: #fff;
  box-shadow: $boxShadow;

  .sidebarItem {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border-radius: 10px;
    transition: all 0.3s ease-in;
  }
  .logoIcon{
    color: $MainColor;
  }
  
  .sidebarItem:hover {
    transform: scale(1.1);
  }

  .sidebarItem:last-child {
    margin-bottom: 0;
  }

  .sidebarLink {
  }

}

.activeLink{
  .logoIcon{
    fill: #E96344;
  }
}